version: 2.1
jobs:
  build:
    parameters:
      xcode-version:
        type: string
      ios-sim:
        type: string
      build-universal:
        type: boolean
        default: true
      build-doc:
        type: boolean
        default: false

    shell: /bin/bash --login -eo pipefail

    macos:
      xcode: <<parameters.xcode-version>>

    steps:
    - checkout

    - run:
        name: Setup for builds
        command: |
          mkdir -p 'test-results'
          mkdir -p 'artifacts'

# TODO (gwhelanld): Consider adding additional build tests for different device architectures

    - run:
        name: Build & Test on macOS Simulator
        command: xcodebuild test -scheme 'LDSwiftEventSource' -sdk macosx -destination 'platform=macOS' | tee 'artifacts/raw-logs-macosx.txt' | xcpretty -r junit -o 'test-results/platform-macosx/junit.xml'
        when: always

    - when:
        condition: <<parameters.build-universal>>
        steps:
          - run:
              name: Build for ARM64 macOS
              command: xcodebuild build -scheme 'LDSwiftEventSource' -arch arm64e -sdk macosx | tee 'artifacts/raw-logs-macosx-arm64e.txt' | xcpretty
              when: always

    - run:
        name: Build Tests for iOS device
        command: xcodebuild build-for-testing -scheme 'LDSwiftEventSource' -sdk iphoneos CODE_SIGN_IDENTITY= | tee 'artifacts/raw-logs-iphoneos.txt' | xcpretty
        when: always

    - run:
        name: Build & Test on iOS Simulator
        command: xcodebuild test -scheme 'LDSwiftEventSource' -sdk iphonesimulator -destination '<<parameters.ios-sim>>' CODE_SIGN_IDENTITY= | tee 'artifacts/raw-logs-iphonesimulator.txt' | xcpretty -r junit -o 'test-results/platform-iphonesimulator/junit.xml'
        when: always

    - run:
        name: Build Tests for tvOS device
        command: xcodebuild build-for-testing -scheme 'LDSwiftEventSource' -sdk appletvos CODE_SIGN_IDENTITY= | tee 'artifacts/raw-logs-appletvos.txt' | xcpretty
        when: always

    - run:
        name: Build & Test on tvOS Simulator
        command: xcodebuild test -scheme 'LDSwiftEventSource' -sdk appletvsimulator -destination 'platform=tvOS Simulator,name=Apple TV' | tee 'artifacts/raw-logs-appletvsimulator.txt' | xcpretty -r junit -o 'test-results/platform-appletvsimulator/junit.xml'
        when: always

    - run:
        name: Build for watchOS simulator # No XCTest testing on watchOS
        command: xcodebuild build -scheme 'LDSwiftEventSource' -sdk watchsimulator | tee 'artifacts/raw-logs-watchsimulator.txt' | xcpretty
        when: always

    - run:
        name: Build for watchOS device # No XCTest testing on watchOS
        command: xcodebuild build -scheme 'LDSwiftEventSource' -sdk watchos | tee 'artifacts/raw-logs-watchos.txt' | xcpretty
        when: always

    - run:
        name: Build & Test with swiftpm
        command: swift test -v 2>&1 | tee 'artifacts/raw-logs-swiftpm.txt' | xcpretty -r junit -o 'test-results/swiftpm/junit.xml'
        when: always

    - when:
        condition: <<parameters.build-doc>>
        steps:
          - restore_cache:
              key: v1-gem-cache-<<parameters.xcode-version>>-

          - run:
              name: Install jazzy gem
              command: |
                gem install jazzy
                gem cleanup
                # Used as cache key to prevent storing redundant caches
                gem list > /tmp/cache-key.txt

          - save_cache:
              key: v1-gem-cache-<<parameters.xcode-version>>-{{ checksum "/tmp/cache-key.txt" }}
              paths:
                - ~/.gem

          - run:
              name: Build Documentation
              command: jazzy -o artifacts/docs

          - run:
              name: Validate coverage
              command: |
                FULLDOC=`jq '.warnings | length == 0' artifacts/docs/undocumented.json`
                [ $FULLDOC == "true" ]

    - store_test_results:
        path: test-results

    - store_artifacts:
        path: artifacts

  build_linux:
    parameters:
      docker-image:
        type: string
      discover-tests:
        description: Whether to use explicit test discovery with SwiftPM
        type: boolean
        default: false

    shell: /bin/bash --login -eo pipefail

    docker:
      - image: <<parameters.docker-image>>

    steps:
    - checkout

    - run:
        name: Setup for builds
        command: mkdir -p 'artifacts'

    - run:
        name: >-
          Build & Test with SwiftPM
          <<# parameters.discover-tests >>using explicit test discovery<</ parameters.discover-tests >>
        command: >-
          swift test -v
          <<# parameters.discover-tests >> --enable-test-discovery <</ parameters.discover-tests >>
          | tee 'artifacts/raw-logs-swiftpm-linux.txt'

    - store_artifacts:
        path: artifacts

workflows:
  version: 2

  build:
    jobs:
      - build:
          name: Xcode 13.1 - Swift 5.5
          xcode-version: '13.1.0'
          ios-sim: 'platform=iOS Simulator,name=iPhone 11,OS=15.0'
          build-doc: true
      - build:
          name: Xcode 12.5 - Swift 5.4
          xcode-version: '12.5.0'
          ios-sim: 'platform=iOS Simulator,name=iPhone 8,OS=14.5'
      - build:
          name: Xcode 12.0 - Swift 5.3
          xcode-version: '12.0.1'
          ios-sim: 'platform=iOS Simulator,name=iPhone 8,OS=14.0'
      - build:
          name: Xcode 11.4 - Swift 5.2
          xcode-version: '11.4.1'
          ios-sim: 'platform=iOS Simulator,name=iPhone 8,OS=12.2'
          build-universal: false
      - build_linux:
          name: Linux - Swift 5.4
          docker-image: norionomura/swift:5.4
      - build_linux:
          name: Linux - Swift 5.3
          docker-image: norionomura/swift:5.3
          discover-tests: true
      - build_linux:
          name: Linux - Swift 5.2
          docker-image: norionomura/swift:5.2
          discover-tests: true
      - build_linux:
          name: Linux - Swift 5.1
          docker-image: norionomura/swift:5.1
          discover-tests: true
